.navbar {
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    height: 5vh;
    color: white;
    position: fixed;
    top: 0;
    width: 100%
}

.navbaroption {
    height: 100%;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbaroption:hover {
    background-color: darkslategray;
    box-shadow: inset 0 -0.5vh 0 0 whitesmoke;
    transition: 0.35s;
}

.navbaroptionselected {
    font-weight: bold;
    background-color: darkslategray;
}

.faviconlogo {
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.maincomponent {
    margin-top: 5vh
}

.sectionelement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh
}

.sectionsubelement {
    padding: 1vh
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

p {
    font-size: large
}