.elementfadeinleft {
    animation: fadeinleft ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeinsection {
    opacity: 0;
    transform: translateX(30vh);
    visibility: hidden;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, visibility;
}

.fadeinsection.isvisible {
    opacity: 1;
    transform: none;
    visibility: visible;
    position: relative;
    z-index: 1;
}

.loading-bar {
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    transform-origin: left;
    animation: loading-bar-animation 5s linear;
  }
  
  @keyframes loading-bar-animation {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }