.navbar {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    height: 5vh;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbaroption {
    height: 100%;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbaroption:hover {
    background-color: darkslategray;
    box-shadow: inset 0 -0.5vh 0 0 whitesmoke;
    transition: 0.35s;
}

.navbaroptionselected {
    font-weight: bold;
    background-color: darkslategray;
}

.faviconlogo {
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.maincomponent {
    margin-top: 5vh;
    z-index: 1;
}

.sectionelement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5vh;
    border-bottom: 1px solid lightgray;
}

.sectionsubelement {
    padding: 1vh;
}

.timelineelement {
    margin-bottom: 0.5vh;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.timelineelementtextheading {
    width: 35%;
}

.timelineelementtextcontent {
    width: 65%;
}

.sectionsubelement {
    padding: 1vh
}

.blogpostlinkelementcontainer {
    padding: 2vh;
    margin: 1vh;
    overflow-wrap: break-word;
    background-color: white;
}

.blogpostlinkelementcontainer:hover {
    padding: 2vh;
    margin: 1vh;
    overflow-wrap: break-word;
    background-color: white;
    box-shadow: 0.5vh 0.75vh 0.5vh rgb(0 0 0 / 20%), 0.5vh 0.75vh 0.5vh rgb(0 0 0 / 20%);
    transition-duration: 0.5s
}

.blogpostlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

p {
    font-size: large
}